.about-container {
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
  text-align: center;
}

/* Heading */
.about-heading {
  font-size: 46px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 25px;
  color: #1c1c1c;
}

/* Wide + short banner image */
.about-image {
  width: 100%;
  height: 280px;              /* SHORT HEIGHT */
  object-fit: cover;     
    /* WIDE EFFECT without stretching */
  border-radius: 20px;
  margin-bottom: 35px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

/* Text Section */
.about-text {
  font-size: 19px;
  line-height: 1.8;
  color: #333;
  text-align: justify;
  
  padding: 25px 30px;
  border-radius: 20px;
  /* box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08); */
  margin-bottom: 60px;
}
