body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Section */
.events-section {
  width: 100%;
  /* padding: 60px 8%; */
  padding-bottom: 30px;
  background: white;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  
  color: var(--dark-blue);
  font-weight: 700;
  margin-bottom: 40px;
}

/* Slider wrapper */
.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Slider content */
.events-slider {
  display: flex;
  gap: 25px;
  overflow: hidden;
  width: 90%;
  justify-content: center;
}

/* Event card */
.event-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 22%;
  min-width: 230px;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.event-card h3 {
  margin: 12px 0;
  font-size: 1.1rem;
  color: #333;
  font-weight: 600;
}

/* Navigation buttons */
.nav-btn {
  background: white;
  color: #b347b3;
  border: 2px solid #b347b3;
  font-size: 1.5rem;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-btn:hover {
  background: #636063;
  color: white;
  transform: scale(1.1);
}

.prev {
  position: absolute;
  left: 2%;
}

.next {
  position: absolute;
  right: 2%;
}

/* Responsive */
@media (max-width: 992px) {
  .events-slider {
    flex-wrap: wrap;
    justify-content: center;
  }

  .event-card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .event-card {
    width: 90%;
  }

  .nav-btn {
    display: none;
  }
}
