.event-page-container {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-left: 450px;

  animation: fadeInPage 0.5s ease-in-out;
}

.event-back-btn {
  background: var(--dark-blue);
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s;
}

.event-back-btn:hover {
  background: #2b2730;
}

.event-details-box {
  text-align: center;
  max-width: 700px;
}

.event-img {
     object-fit: cover;
    width: 400px;
    height: 350px;
    max-width: 400px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(138, 43, 226, 0.2);
}

.event-title {
  font-size: 2rem;
  color: var(--dark-blue);
  margin-bottom: 10px;
}

.event-desc {
  color: #555;
  line-height: 1.7;
  margin-bottom: 25px;
  font-size: 1.1rem;
}

.event-see-btn {
  background: purple;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.event-see-btn:hover {
  background: #4a1388;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .event-img {
    width: 90%;
    height: auto;
  }
}
