.hero-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(1, 3, 8, 0.7), rgba(13, 17, 31, 0.7)),
    url("https://images.unsplash.com/photo-1536300007881-7e482242baa5?auto=format&fit=crop&w=1920&q=80")
      center/cover no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* Heading */
.main-heading {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  padding: 12px 25px;
  border-radius: 8px;
}

.explore-btn {
  margin-top: 20px;
  padding: 12px 30px;
  background-color: #7b2fff;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.explore-btn:hover {
  background-color: #a36fff;
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .main-heading {
    font-size: 2rem;
  }
}
