.performer-detail {
  max-width: 900px;
  margin: 80px auto;
  margin-left: 400px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.performer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.performer-content img {
    object-fit: cover;
  width: 400px;
  height: 300px;
  max-width: 400px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(138, 43, 226, 0.2);
}

.performer-text h2 {
  font-size: 2rem;
  color: var(--dark-blue);
  margin-bottom: 10px;
}

.performer-text h4 {
  color: #555;
  margin-bottom: 15px;
}

.performer-text p {
  color: #666;
  line-height: 1.6;
  font-size: 1rem;
  max-width: 600px;
  margin: auto;
}

.back-btn {
  background:var(--dark-blue);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}

.back-btn:hover {
  background: #6d1fc2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .performer-content {
    flex-direction: column;
  }
}
